# Week 15, Lecture 02 CodeAlong: Hypothesis Testing

- xx/xx/xx

Today, we will be analyzing data from the Crowdfunding website Kiva and answering several questions about the data.

- Use your hypothesis testing skills and the  ["Guide: Choosing the Right Hypothesis Test"](https://login.codingdojo.com/m/376/12533/88117) lesson from the LP.
    

- Kiva Crowdfunding Data Set:
    -  https://www.kaggle.com/datasets/kiva/data-science-for-good-kiva-crowdfunding

### Questions to Answer

- Q1: Do all-male teams get more funding vs teams that include at least 1 female?
- Q2: Do different sectors get more/less funding?

# Hypothesis Testing

In [1]:
import json
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats
import scipy
scipy.__version__

'1.8.1'

In [2]:
## load the kiva_loans.csv. display info and head
df = pd.read_csv('Data/kiva_loans.csv.gz')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 666984 entries, 0 to 666983
Data columns (total 20 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  666984 non-null  int64
 1   funded_amount       666984 non-null  float64
 2   loan_amount         666984 non-null  float64
 3   activity            666984 non-null  object
 4   sector              666984 non-null  object
 5   use                 666973 non-null  object
 6   country_code        666976 non-null  object
 7   country             666984 non-null  object
 8   region              614405 non-null  object
 9   currency            666984 non-null  object
 10  partner_id          653896 non-null  float64
 11  posted_time         666984 non-null  object
 12  disbursed_time      665003 non-null  object
 13  funded_time         619335 non-null  object
 14  term_in_months      666984 non-null  float64
 15  lender_count        666984 non-null  int64
 16  tags                496877 non-null  object
 17  borrower_genders    666984 non-null  object
 18  repayment_interval  666984 non-null  object
 19  date                666984 non-null  object
dtypes: float64(4), int64(2), object(14)
memory usage: 101.8+ MB

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
0,653051,300.0,300.0,Fruits & Vegetables,Food,"To buy seasonal, fresh fruits to sell.",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:12:39+00:00,2013-12-17 08:00:00+00:00,2014-01-02 10:06:32+00:00,12.0,12,NaN,female,irregular,2014-01-01
1,653053,575.0,575.0,Rickshaw,Transportation,to repair and maintain the auto rickshaw used ...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:51:08+00:00,2013-12-17 08:00:00+00:00,2014-01-02 09:17:23+00:00,11.0,14,NaN,"female, female",irregular,2014-01-01
2,653068,150.0,150.0,Transportation,Transportation,To repair their old cycle-van and buy another ...,IN,India,Maynaguri,INR,334.0,2014-01-01 09:58:07+00:00,2013-12-17 08:00:00+00:00,2014-01-01 16:01:36+00:00,43.0,6,"user_favorite, user_favorite",female,bullet,2014-01-01
3,653063,200.0,200.0,Embroidery,Arts,to purchase an embroidery machine and a variet...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 08:03:11+00:00,2013-12-24 08:00:00+00:00,2014-01-01 13:00:00+00:00,11.0,8,NaN,female,irregular,2014-01-01
4,653084,400.0,400.0,Milk Sales,Food,to purchase one buffalo.,PK,Pakistan,Abdul Hakeem,PKR,245.0,2014-01-01 11:53:19+00:00,2013-12-17 08:00:00+00:00,2014-01-01 19:18:51+00:00,14.0,16,NaN,female,monthly,2014-01-01

In [3]:
## Drop null values from related columns
df = df.dropna(subset=['borrower_genders','funded_amount'])

# Setting the id as the index
df = df.set_index('id')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 666984 entries, 653051 to 1340339
Data columns (total 19 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   funded_amount       666984 non-null  float64
 1   loan_amount         666984 non-null  float64
 2   activity            666984 non-null  object
 3   sector              666984 non-null  object
 4   use                 666973 non-null  object
 5   country_code        666976 non-null  object
 6   country             666984 non-null  object
 7   region              614405 non-null  object
 8   currency            666984 non-null  object
 9   partner_id          653896 non-null  float64
 10  posted_time         666984 non-null  object
 11  disbursed_time      665003 non-null  object
 12  funded_time         619335 non-null  object
 13  term_in_months      666984 non-null  float64
 14  lender_count        666984 non-null  int64
 15  tags                496877 non-null  object
 16  borrower_genders    666984 non-null  object
 17  repayment_interval  666984 non-null  object
 18  date                666984 non-null  object
dtypes: float64(4), int64(1), object(14)
memory usage: 101.8+ MB

,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
id,,,,,,,,,,,,,,,,,,,
653051,300.0,300.0,Fruits & Vegetables,Food,"To buy seasonal, fresh fruits to sell.",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:12:39+00:00,2013-12-17 08:00:00+00:00,2014-01-02 10:06:32+00:00,12.0,12,NaN,female,irregular,2014-01-01
653053,575.0,575.0,Rickshaw,Transportation,to repair and maintain the auto rickshaw used ...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:51:08+00:00,2013-12-17 08:00:00+00:00,2014-01-02 09:17:23+00:00,11.0,14,NaN,"female, female",irregular,2014-01-01
653068,150.0,150.0,Transportation,Transportation,To repair their old cycle-van and buy another ...,IN,India,Maynaguri,INR,334.0,2014-01-01 09:58:07+00:00,2013-12-17 08:00:00+00:00,2014-01-01 16:01:36+00:00,43.0,6,"user_favorite, user_favorite",female,bullet,2014-01-01
653063,200.0,200.0,Embroidery,Arts,to purchase an embroidery machine and a variet...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 08:03:11+00:00,2013-12-24 08:00:00+00:00,2014-01-01 13:00:00+00:00,11.0,8,NaN,female,irregular,2014-01-01
653084,400.0,400.0,Milk Sales,Food,to purchase one buffalo.,PK,Pakistan,Abdul Hakeem,PKR,245.0,2014-01-01 11:53:19+00:00,2013-12-17 08:00:00+00:00,2014-01-01 19:18:51+00:00,14.0,16,NaN,female,monthly,2014-01-01

# Q1:  Do all-male teams get more funding vs teams that include at least 1 female?

## 1. State the Hypothesis & Null Hypothesis

- $H_0$ (Null Hypothesis):
- $H_A$ (Alternative Hypothesis):

## 2. Determine the correct test to perform.
- Type of Data?
- How many groups/samples?
- Therefore, which test is appropriate?

### Visualize and separate data for hypothesis

- What column is our target?
- What column determines our groups?

In [ ]:
## check the col that contains the measurement

In [ ]:
## check the col that contains info on gender

In [ ]:
## create a column that easily separates our groups

In [ ]:
## save list of columns needed for each group
needed_cols = None

In [ ]:
## save male team in separate variable
male_df = None
male_df

In [ ]:
## save female team in separate variables
female_df = None
female_df

In [ ]:
## Make a df just for visualization by concat the groups 
plot_df =  None
plot_df

In [ ]:
## visualize the group means

## 3. Testing Assumptions

- No significant outliers
- Normality
- Equal Variance

### Checking Assumption of No Sig. Outliers

In [ ]:
## Saving JUST the numeric col as final group variables
male_group = None
female_group = None

In [ ]:
## Check female group for outliers
female_outliers = None

## how many outliers?

In [ ]:
## remove outliers from female_group

In [ ]:
## Check male group for outliers
male_outliers = None

## how many outliers?

In [ ]:
## remove outliers from male_group

### Test for Normality

In [ ]:
## Check female group for normality

In [ ]:
## Check n for female group

In [ ]:
## Check male group for normality

In [ ]:
## Check n for male group

- Did we meet the assumption?

### Test for Equal Variances

In [ ]:
## Use Levene's test for equal variance

In [ ]:
## Use an if-else to help interpret the p-value

- Did we meet the assumptions?

## Final Hypothesis Test

- Did we meet our test's assumptions? 
    - If not, what is the alternative test?

In [ ]:
## run final hypothess test

In [ ]:
## make a plot or calcualte group means to know which group had more/less.

- Final Conclusion:
    - ...

# Q2: Do different sectors get more/less funding?

## 1. State the Hypothesis & Null Hypothesis

- $H_0$ (Null Hypothesis): There is no difference between funded amounts for different sectors.
- $H_A$ (Alternative Hypothesis):There is a significant difference between funded amounts for different sectors.

## 2. Determine the correct test to perform.

- Type of Data?
- How many groups/samples?
- Therefore, which test is appropriate?

In [ ]:
## how many sectors?

### Visualize and separate data for hypothesis

- What column is our target?
- What column determines our groups?

In [ ]:
## barplot

In [ ]:
## Create a dictionary with each group as key and funded_amount as values

In [ ]:
## check one of the sectors in the dict

## 3. Testing Assumptions

- No significant outliers
- Normality
- Equal Variance

### Checking Assumption of No Sig. Outliers

In [ ]:
## Loop through groups dict

    ## determine if there are any outliers
    
    ## print a statement about how many outliers for which group name

    ## Remove the outiers from data and overwrite the sector data in the dict

### Test for Normality

In [ ]:
## Running normal test on each group and confirming there are >20 in each group

## Save a list with an inner list of column names
norm_results = [['group','n','pval','sig?']]


## loop through group dict

    ## calculate normaltest results
    
    
    ## Append the right info into norm_resutls (as a list)
    
    
    
## Make norm_results a dataframe (first row is columns, everything else data)

- Did we meet the assumption?

### Test for Equal Variances

In [ ]:
## DEMO: using the * operator to unpack lists
a_list = ['a','b','c']
b_list = [1,2,3]
new_list= [*a_list, *b_list]
new_list

In [ ]:
## Use Levene's test for equal variance

In [ ]:
## Use an if-else to help interpret the p-value

- Did we meet the assumption?

## Final Hypothesis Test

- Did we meet our test's assumptions? 
    - If not, what is the alternative test?

In [ ]:
## Running Krukal Test for Original Hypothesis
result = stats.kruskal(*groups.values())
print(result)
result.pvalue<.05

- Interpret Results. Did we have a significant result?
- Is a post-hoc test needed?

### Post-Hoc Multiple Comparison Test

In [ ]:
## Post Hoc
from statsmodels.stats.multicomp import pairwise_tukeyhsd

- Tukey's test requires a list of group names and a list of measured values. 
- Easiest way to produce and visualize this is to make our groups dict into a dataframe

#### Testing Converting our Dictionary to a DataFrame

In [ ]:
## slice a test sector
temp = groups['Personal Use']
temp

In [ ]:
## test making a dataframe from the test sector and filling in the sector name
pd.DataFrame({'Funded Amount':temp, 'Sector':'Personal Use'})

#### Preparing the new dataframe for Tukey's test in a looop

In [ ]:
## make a list for saving the dataframes to
tukeys_dfs = []

## Loop through groups dict's items
for sector, temp in groups.items():
    
    ## make a temp_df with the data and the sector name
    temp_df = pd.DataFrame({'Funded Amount':temp, 'Sector':sector})
    
    ## append to tukeys_dfs
    tukeys_dfs.append(temp_df)
    
## concatenate them into 1 dataframe    
tukeys_data = pd.concat(tukeys_dfs)
tukeys_data

In [ ]:
## save the values as kg_lost and the labels to the Diet
values = tukeys_data['Funded Amount']
labels = tukeys_data['Sector']

## perform tukey's multiple comparison test and display the summary
tukeys_results = pairwise_tukeyhsd(values,labels)
tukeys_results.summary()

In [ ]:
## optional -slicing out dataframe from results

In [ ]:
## make a barplot of final data to go with results
ax = sns.barplot(data=tukeys_data, x='Sector', y='Funded Amount', ci=68)
ax.set_xticklabels(ax.get_xticklabels(), rotation='45', ha='right');

In [ ]:
## also can use built-in plot tukeys_reuslts.plot_simultaneous
tukeys_results.plot_simultaneous();

- Final summary of group differences

- As we can see, there are MANY sectors that are significantly different from each other. Some highlights include that Wholesame and Entertainment have the highest average funded amounts and Personal use has the lowest.